header.header
    nav.nav.nav--tours
        .header__logo
            a.nav__el(href='/')
                img(src='/img/logo-grey.png' alt='Ramble logo')
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Logout
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                span= user.name.split(' ')[0]
        else
            buttopn.nav__el(href='/') All tours
            a.nav__el(href='/login') Log in
            a.nav__el.nav_el--cta(href='/signup') Sign up
            