mixin quotesCard(quotes)
    .quotes-container
        header
            .text-alfa
                .text-off-black(style="margin-bottom: 28rem; margin-left: -83px;")
                    | Find your next stay